<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRUd1wMWLitNBbZrPi1vVEhWXv_VmKy3A</string>
	<key>GCM_SENDER_ID</key>
	<string>564027917815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finexus.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>finexus-f44cb</string>
	<key>STORAGE_BUCKET</key>
	<string>finexus-f44cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564027917815:ios:5c93091eb878212f411af2</string>
</dict>
</plist>